<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <aop:aspectj-autoproxy/>

    <mvc:view-controller path="/" view-name="redirect:/home/index"/>


    <!-- 使用Annotation自动注册Bean，只扫描@Controller，否则事务会失效 -->
    <context:component-scan base-package="com.dookay.shiatzy.web.mobile" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <!-- 将StringHttpMessageConverter的默认编码设为UTF-8 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
            <!-- 将Jackson2HttpMessageConverter的默认格式化输出设为true -->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="prettyPrint" value="true"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <!-- 容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL-->
    <mvc:default-servlet-handler/>

    <!-- 静态资源映射 -->
    <mvc:resources mapping="/static/**" location="/static/" cache-period="31536000"/>
    <!-- 视图引擎配置-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
        <property name="viewClass">
            <value>
                org.springframework.web.servlet.view.JstlView
            </value>
        </property>
        <property name="order" value="1"/>
    </bean>

    <!-- 定义JSP文件的位置 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 全局异常处理 -->
    <bean class="com.dookay.coral.common.exception.ExceptionHandler">
        <property name="errorUrl" value="/error/500"></property>
    </bean>

    <!--定义spring-context-->
    <bean class="com.dookay.coral.common.web.utils.SpringContextHolder"/>

    <!-- 国际化 -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <!-- 国际化信息所在的文件名 -->
        <property name="basename" value="messages" />
        <!-- 如果在国际化资源文件中找不到对应代码的信息，就用这个代码作为名称  -->
        <property name="useCodeAsDefaultMessage" value="true" />
    </bean>
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" />
    <mvc:interceptors>
        <bean id="localeChangeInterceptor"
              class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="lang" />
        </bean>
    </mvc:interceptors>

    <!--zfb配置 -->
    <bean class="com.dookay.coral.adapter.payment.alipay.config.AlipayConfig" name="alipayConfig">
        <property name="partner" value="2088221294543871" />
        <property name="seller_id" value="2088221294543871"/>
        <property name="key" value="odloe0g55bakkzvnooundk95klqwr0fq"/>
        <property name="input_charset" value="utf-8" />
        <property name="payment_type" value="1" />
        <property name="log_path" value="/var/log" />
        <!--<property name="notify_url" value="http://test-ip-41.coralcodes.com/payment/asynReturnUrl" />
        <property name="return_url" value="http://test-ip-41.coralcodes.com/payment/returnUrl" />-->
        <property name="notify_url" value="http://shiatzy-w.doolab.cn/payment/asynReturnUrl" />
        <property name="return_url" value="http://shiatzy-w.doolab.cn/payment/returnUrl" />
        <property name="service" value="alipay.wap.create.direct.pay.by.user" />
        <property name="sign_type" value="MD5" />
    </bean>
    <!--unionPay配置 -->
    <bean class="com.dookay.coral.adapter.payment.unionpay.acp.config.UnionConfig" name="unionConfig">
        <property name="merId" value="802320056910501" />
        <!--<property name="merId" value="777290058146843" />-->
        <!--<property name="backUrl" value="http://test-ip-41.coralcodes.com/payment/backRcvResponse"/>
        <property name="frontUrl" value="http://test-ip-41.coralcodes.com/payment/frontRcvResponse"/>-->
        <property name="backUrl" value="http://shiatzy-w.doolab.cn/payment/backRcvResponse"/>
        <property name="frontUrl" value="http://shiatzy-w.doolab.cn/payment/frontRcvResponse"/>
        <property name="accessType" value="0"/>
        <property name="bizType" value="000201"/>
        <property name="channelType" value="07"/>
        <property name="currencyCode" value="156"/>
        <property name="encoding" value="UTF-8"/>
        <!--<property name="reqReserved" value=""/>-->
        <property name="signMethod" value="01"/>
        <property name="txnSubType" value="01"/>
        <property name="txnType" value="01"/>
        <property name="version" value="5.0.0"/>
    </bean>
    <!--ipaylinks配置 -->
    <bean class="com.dookay.coral.adapter.payment.ipaylinks.config.IpayLinksConfig" name="ipayLinksConfig">
        <property name="version" value="1.1"/>
        <property name="siteId" value="shop.shiatzychen.com"/>
        <property name="tradeType" value="1002"/>
        <property name="currencyCode" value="CNY"/>
        <property name="settlementCurrencyCode" value="CNY"/>
        <property name="borrowingMarked" value="0"/>
        <!--<property name="noticeUrl" value="http://shiatzy-w.doolab.cn/payment/noticeUrl"/>
        <property name="returnUrl" value="http://shiatzy-w.doolab.cn/payment/ipayLinkReturnUrl"/>-->
        <property name="noticeUrl" value="http://test-ip-41.coralcodes.com/payment/noticeUrl"/>
        <property name="returnUrl" value="http://test-ip-41.coralcodes.com/payment/ipayLinkReturnUrl"/>
        <!--<property name="partnerId" value="10000003846"/>-->
        <!--测试-->
        <property name="partnerId" value="10000007526"/>
        <property name="payMode" value="10"/>
        <property name="payType" value="EDC"/>
        <property name="charset" value="1"/>
        <property name="signType" value="2"/>
        <property name="postUrl" value="http://api.test.ipaylinks.com/webgate/crosspay.htm"/>
        <!--<property name="postUrl" value="https://cashsite.iPayLinks.com/webgate/crosspay.htm"/>-->
        <!--生产环境 https://cashsite.iPayLinks.com/webgate/crosspay.htm-->
        <property name="directFlag" value="0"/>
        <property name="language" value="cn"/>
        <property name="mcc" value="4000"/>
        <property name="orderTerminal" value="01"/>
        <property name="pkey" value="30820122300d06092a864886f70d01010105000382010f003082010a02820101008cdefa747cd7c21207b551259ed4669179b160cdc133d517896277a40fff39bfd2bb761cb9c8f46948f5abce6cf76aa989f0f6ef157e4d5d92e6f9766eb9b922c32034fa4e8b88c99ac2a4ed3e8aebd1022b25f1674ea6bc7a80a8ca50a741cf26b1f5f3e509e949effb7f8fa4f8ee4a4716cd1c20b956274a35cb36d7aaed6b5f270199513d0ffe792b21a0fda3614788270cb3e4854b0117ba2da34a4c3008f303c4fd83a4836410c81f4b4dec1b36c387537a4ef8cd8dd3c3538ba6e5a6d14a1ee102d66377f61a01d2f044e078cde9ff0a19816132eb2834d6c6595eb4a383386e70ccc1d5b535a2aa6151a138031de7ca8e4ddd26a5e5f364fd19bb68350203010001"/>
            <!--<property name="pkey" value="30820122300d06092a864886f70d01010105000382010f003082010a0282010100bc0146e96213a9fc0bcb524fb7e2e43c5fd889da38038ecf28452402e4f53c6e9c3449ea7d5c0cff98c5e1d71ed0432e4a31d2abab3d81986bbfdcf200e70ac1ac845ece3ea2391a39d43d42753ce8c028c4b554bb9d473dd28b6844508d4661933aad7980488cc2968e98f98e18bde39fb497f370ae3507adfee9d13d84ff4d8157691b2c857a052cf60d114de9223e530e09c48a53453f14426ca44817b90263eef35f4644160eb3ca2b8be8a7d79bad0a145af21ad547a8976eb61673dfce3f58b32865f42ba45ae478888b819de039db12ff1acd1f9021d5bd860349ee299d260ad0f31bef104a5f94b00e4d1dafd7f179c12e7a9215797f8a562cf61cf50203010001"/>-->
    </bean>


    <!--快递鸟配置 -->
    <bean name="kdniaoSubscribeAPI" class="com.dookay.coral.adapter.express.KdniaoSubscribeAPI">
        <!--测试数据 -->
        <property name="kdnAppKey" value="91c848d6-d568-4e34-84d3-9ce0d73486e4"/>
        <property name="kdnEBusinessID" value="1289803"/>
        <property name="kdnReqURL" value="http://api.kdniao.cc/api/dist"/>
        <property name="dataType" value="2"/>
        <property name="requestType" value="1002"/>
    </bean>

    <!--短信配置 -->
    <bean name="sendToPhoneConfig" class="com.dookay.coral.adapter.sendmsg.config.SendToPhoneConfig">

        <property name="account" value="chuangzi"/>
        <property name="pswd" value="Tch123456"/>
        <property name="needstatus" value="true"/>
        <property name="product" value="349312826"/>
        <property name="url" value="http://222.73.117.158/msg/HttpBatchSendSM"/>
    </bean>
</beans>
