<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- coral-common -->
    <import resource="classpath:spring/spring-config-common.xml"/>

    <!--coral-host-->
    <import resource="classpath:spring/spring-config-host.xml"/>

    <!-- coral-shop-core -->
    <import resource="classpath:spring/spring-config-core.xml"/>

    <!-- adapter-->
    <import resource="classpath:spring/spring-config-adapter.xml"/>

    <import resource="classpath:spring/spring-mobile-web.xml"/>
</beans>
