# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
.idea/

# hibernate & Spring files
.myhibernatedata
hibernate.cfg.xml
hibernate.reveng.xml
.springBeans

# Others
target/
logs/
bak/
reports/
RemoteSystemsTempFiles/
Servers/
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
.mymetadata
.checkstyle

.DS_Store
.tern-project
.war
.zip
.rar

.externalToolBuilders/
build/
*.bak

*.ldb

*.xls
*.orig
*/src/main/resources/rebel.xml


.vscode/


shiatzy-web-admin/src/main/webapp/uploads/
coral-adapter/src/main/java/com/dookay/coral/adapter/payment/
coral-adapter/src/main/java/com/dookay/coral/adapter/sms/
coral-adapter/src/test/
coral-common/src/main/java/com/dookay/coral/common/security/shiro/
coral-common/src/main/java/com/dookay/coral/common/web/model/
coral-host/src/test/
coral-security/src/test/
coral-shop-generator/src/main/java/
coral-shop-generator/src/test/
shiatzy-web-admin/src/main/java/com/dookay/shiatzy/web/admin/form/
