<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <display-name>shiatzy-web-mobile</display-name>

  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>

  <!-- Context -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/spring-mobile-config.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <context-param>
    <param-name>spring.profiles.default</param-name>
    <param-value>production</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>

  <!-- 上下文筛选器-->
  <filter>
    <filter-name>httpContextFilter</filter-name>
    <filter-class>com.dookay.coral.common.web.filter.HttpContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>httpContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!--登录筛选器-->
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.dookay.shiatzy.web.mobile.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/u/*</url-pattern>
    <!--<url-pattern>/boutique/*</url-pattern>
    <url-pattern>/cart/*</url-pattern>-->
    <url-pattern>/checkout/*</url-pattern>
  </filter-mapping>
  <!--当前用户筛选器-->
  <filter>
    <filter-name>userContextFilter</filter-name>
    <filter-class>com.dookay.shiatzy.web.mobile.filter.UserContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>userContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 上下文筛选器-->

  <!-- 编码筛选器-->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--验证码筛选器-->
  <filter>
    <filter-name>jCaptchaFilter</filter-name>
    <filter-class>com.dookay.coral.common.web.jcaptcha.JCaptchaFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter-mapping>
    <filter-name>jCaptchaFilter</filter-name>
    <url-pattern>/captcha</url-pattern>
  </filter-mapping>

  <!-- MVC Servlet -->
  <servlet>
    <servlet-name>spring-dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- 配置SpringMVC需要加载的配置文件 spring-xxx.xml -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/spring-mobile-web.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring-dispatcher</servlet-name>
    <!--默认匹配所有的请求 -->
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- druid -->
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>DruidWebStatFilter</filter-name>
    <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
    <init-param>
      <param-name>exclusions</param-name>
      <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DruidWebStatFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>