<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dookay.coral.shop.content.mapper.BannerMapper" >
  
    <!-- 公共查询语句 -->
	<sql id="selectSql">
		select 
		    <trim suffixOverrides="," >
		    	a.`id` as 'id',
		    	a.`title` as 'title',
		    	a.`en_title` as 'enTitle',
		    	a.`sub_title` as 'subTitle',
		    	a.`en_sub_title` as 'enSubTitle',
		    	a.`is_valid` as 'isValid',
		    	a.`image` as 'image',
		    	a.`link` as 'link',
		    </trim>
	   	from 
	    	`t_content_banner` as a
	</sql>
  
</mapper>