<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dookay.coral.shop.content.mapper.ContentCategoryMapper" >
  
    <!-- 公共查询语句 -->
	<sql id="selectSql">
		select 
		    <trim suffixOverrides="," >
		    	a.`id` as 'id',
		    	a.`title` as 'title',
		    	a.`slug` as 'slug',
		    	a.`parent_id` as 'parentId',
		    	a.`create_time` as 'createTime',
		    </trim>
	   	from 
	    	`t_content_category` as a
	</sql>
  
</mapper>