<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dookay.coral.shop.message.mapper.EmailMapper" >
  
    <!-- 公共查询语句 -->
	<sql id="selectSql">
		select 
		    <trim suffixOverrides="," >
		    	a.`id` as 'id',
		    	a.`create_time` as 'createTime',
		    	a.`email` as 'email',
		    	a.`title` as 'title',
		    	a.`body` as 'body',
		    	a.`is_sent` as 'isSent',
		    	a.`try_times` as 'tryTimes',
		    	a.`sent_time` as 'sentTime',
		    </trim>
	   	from 
	    	`t_message_email` as a
	</sql>
  
</mapper>