<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dookay.coral.shop.goods.mapper.GoodsPrototypeSpecificationOptionMapper" >
  
    <!-- 公共查询语句 -->
	<sql id="selectSql">
		select 
		    <trim suffixOverrides="," >
		    	a.`id` as 'id',
		    	a.`protorype_specification_id` as 'protorypeSpecificationId',
		    	a.`name` as 'name',
		    	a.`value` as 'value',
		    	a.`display_order` as 'displayOrder',
		    </trim>
	   	from 
	    	`t_goods_prototype_specification_option` as a
	</sql>
  
</mapper>