<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dookay.coral.shop.goods.mapper.GoodsSkinMapper" >
  
    <!-- 公共查询语句 -->
	<sql id="selectSql">
		select 
		    <trim suffixOverrides="," >
		    	a.`id` as 'id',
		    	a.`rank` as 'rank',
		    	a.`is_valid` as 'isValid',
		    	a.`title` as 'title',
		    	a.`en_title` as 'enTitle',
		    	a.`image` as 'image',
		    	a.`create_time` as 'createTime',
		    	a.`update_time` as 'updateTime',
		    </trim>
	   	from 
	    	`t_goods_skin` as a
	</sql>
  
</mapper>