<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RoleAssignMapper" >
  
    <!-- 公共查询语句 -->
	<sql id="selectSql">
		select 
		    <trim suffixOverrides="," >
		    	a.`id` as 'id',
		    	a.`role_id` as 'roleId',
		    	a.`admin_id` as 'adminId',
		    	a.`create_time` as 'createTime',
		    	a.`update_time` as 'updateTime',
		    </trim>
	   	from 
	    	`t_security_role_assign` as a
	</sql>
  
</mapper>