<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--coral-host-->
    <import resource="classpath:spring/spring-config-host.xml"/>

    <!-- coral-market -->
    <import resource="classpath:spring/spring-config-core.xml"/>

    <!-- coral-common -->
	<import resource="classpath:spring/spring-config-common.xml"/>

    <!-- 注入security模版实现 userSecurityRealm -->
    <bean id="userSecurityRealm" class="com.dookay.shiatzy.web.admin.security.AdminSecurityReaml"></bean>
    <import resource="classpath:spring/spring-security-config.xml"/>
    <import resource="classpath:spring/spring-admin-shiro.xml"/>

</beans>
