.order {
    height: 4.1739rem;
    background: #999999;
    padding: 0 1.7778rem 0 2.1642rem;
    margin-bottom: 2.0096rem;
}

.order p,
.order a {
    display: block;
    line-height: 4.1739rem;
    color: #fff;
}

.order svg {
    position: relative;
    top: .5rem;
    right: .5rem;
}

.order-main {
    text-align: center;
    border-top: 1px solid #cccccc;
   
}

.order-main-left {
    width: 50%;
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.order-main-left .do-list-icon,
.order-main-right .do-list-icon {
    top: 3rem;
}

.order-main-right {
    width: 50%;
    float: right;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.order-main .color-size p {
    display: inline;
    /*width: 50%;*/
    padding: 0 0.6183rem;
}

.order-main {
    clear: both;
    font-size: 1rem;
}

.order-main .product-num {
    padding: 0.4rem;
}

.order-main .product-name {
    height: 2.4rem;
}

.order-main .goodsDiv{
    margin-top: -1px;
}

.order-main img {
    margin-bottom: 0.6rem;
}

.order-main .color-price,
.order-main .price {
    margin-bottom: 0.6rem;
}

.order-main .order-price {
    padding-top: 1.855rem;
    padding-right: 2.4734rem;
    float: right;
}

.order-main .order-price p {
    font-size: 1.1821rem;
}

.order-stores {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 4.4058rem 1.314rem 4.8696rem;
}

.order-stores h1 {
    font-size: 1.3913rem;
}

.model-select-box,
.model-select-box ul li {
    font-size: 1.1821rem;
}

.model-select-box .model-select-store,
.model-select-box .model-select-country,
.model-select-box .model-select-city {
    border-bottom: solid #cccccc 2px;
    margin-bottom: 2.7826rem;
}

.model-select-box .model-select-text span {
    line-height: 2.087rem;
}

.model-select-option li {
    line-height: 2.5507rem;
    border-bottom: 2px solid #cccccc;
}

.model-select-box .model-select-store {
    margin-bottom: 0;
}

.model-select-box ul .active {
    background: #cccccc;
}

.stores-introduce,
.setting {
    padding: 0 1.5459rem;
}

.stores-introduce h2 {
    font-size: 1.3913rem;
}

.submit-btn {
    text-align: center;
    margin-top: 2rem;
}



.verify-message {
    padding: 0 1.2367rem;
}

.verify-message .verify-message-top h2 {
    font-size: 1.3913rem;
    text-indent: 0.8502rem;
    margin-bottom: 1.7778rem;
}

.verify-message .verify-message-top ul {
    text-indent: 0.8502rem;
    font-size: 1.1821rem;
}

.verify-message .verify-message-top ul li {
    margin-bottom: 1.5459rem;
}

/*.verify-message-middle>h2 {*/
    /*font-size: 1.1821rem;*/
    /*text-indent: 0.8502rem;*/
    /*margin-top: 2.8599rem;*/
    /*border-bottom: 2px solid #cccccc;*/
/*}*/
.verify-message-middle>h2 {
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-indent: 0.8502rem;
    margin-top: 2.8599rem;
    border-bottom: 2px solid #cccccc;
}
.verify-main .img-message h3,
.verify-main .img-message h6,
.verify-main .img-message p {
    font-size: 0.9275rem;
    margin: 0;
}

.verify-main .img-message h6{
    color:#999;
    font-weight:normal;
}

.verify-main {
    height: 9.2705rem;
    padding-left: 1.5459rem;
    border-bottom: 2px #cccccc solid;
}

.verify-main img {
    /*display: inline-block;*/
    float: left;
    height: 100%;
}

.verify-main .img-message {
    float: left;
    margin-left: 3.0918rem;
}

.verify-main .img-message h3 {
    margin-bottom: 0;
    line-height: 2.3961rem;
    margin-top: 0.5rem;
}

.verify-main .img-message p:last-child {
    text-align: right;
}

.order-state {
    font-size: 0.7729rem;
    padding-left: 1.3459rem;
    margin-top: .5rem;
}

.verify-message-bottom h2 {
    font-size: 1.1821rem;
    text-align: center;

    line-height: 1.855rem;
}

.verify-message-bottom p {
    font-size: 0.9275rem;
    padding: 0 1.5459rem;
    line-height: 1.6232rem;
}

.verify-message-bottom a {
    display: inherit;
    background-color: #999999;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 3.4783rem;
    line-height: 2.7826rem;
}

.my-account {
    padding: 0 1.9324rem;
}

.my-account-title {
    margin-bottom: 3.0918rem;
}

.my-account-title p {
    float: left;
    font-size: 1.3914rem;
    line-height: 1.9324rem;
}

.my-account-message ul li,
.account-message ul li {
    display: inherit;
    margin-bottom: 5.1787rem;
    border-bottom: 1px solid #cccccc;
    padding-left: 2.3188rem;
    font-size: 1.1821rem;
}

.account-message ul li {
    padding-left: 0;
}

.outline a {
    display: inline-block;
    border-bottom: 1px solid #cccccc;
}

.my-account-message .deit-message,
.account-message .deit-message {
    border-bottom: none;
    margin-top: -4rem;
    margin-bottom: 3rem;
}

.account-message .deit-message ol li {
    border: none;
    margin-bottom: 0;
    line-height: 1.6232rem;
    padding-left: 2.3188rem;
}

.privacy {
    padding:0.5rem 0;
    border-bottom: 1px solid #cccccc;
}

.privacy a {
    display: inline-block;
    line-height: 0.5rem;
    font-size: 1.1821rem;
    width: 100%;
}

.data-setting h3 {
    font-size: 1.3914rem;
}

.data-setting ul li {
    margin-bottom: 2.5507rem;
    border-bottom: 1px solid #cccccc;
    color: #999999;
}

.data-setting ul {
    margin-bottom: 4.3285rem;
}

.complete a {
    display: inherit;
    background-color: #999999;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 3.4783rem;
    line-height: 2.7826rem;
}

.data-setting .date {
    margin-bottom: 0;
}

.data-setting .date li {
    margin-bottom: 0;
    border-bottom: none;
    float: left;
    padding-right: 2.5507rem;
}

.back-up a{
    margin: 1.5rem 2rem 1.5rem 0;
}
.back-up a h3 {
    font-size: 1.0rem;
    border: 1px solid #cccccc;
    margin-right: 1.1821rem;
    line-height: 2rem;
    padding: 0.778rem 1.2367rem;
    color: #999999;
    margin:0;
}

.club,
.club-card {
    padding: 0 23px 0 28px;
}

.club h3 {
    font-size: 1.3914rem;
    line-height: 2.5507rem;
    margin-bottom: 1.9324rem;
}

.club p {
    font-size: 1.1821rem;
    line-height: 2.087rem;
}

.club h3,
.club p {
    border-bottom: 2px solid #999999;
    text-align: center;
}

.club input {
    width: 100%;
    border-bottom: none;
    border-right: 2px solid #999999;
}



.club a {
    display: inherit;
    background-color: #999999;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 3.4783rem;
    line-height: 2.7826rem;
    margin-bottom: 4.6377rem;
}

.club .club-bottom p {
    border-bottom: none;
    margin-bottom: 0;
}

.club-card {
    position: relative;
    text-align: center;
}
.club-card-lighter .card-title,
.club-card-lighter .card-name,
.club-card-lighter .card-num{
    color: #999;
}

.card-title {
    position: absolute;
    top: 3.401rem;
    left: 25%;
    color: #fff;
    border-bottom: 1px solid #999999;
    padding: 0 2.5507rem;
}

/*.card-name {*/
    /*position: absolute;*/
    /*top: 10rem;*/
    /*left: 40%;*/
    /*color: #fff;*/
/*}*/
.card-name {
    position: absolute;
    top: 10rem;
    left: 50%;
    margin-left: -50px;
    color: #fff;
    width: 100px;
    text-align: center;
}
.card-num {
    position: absolute;
    top: 15.5rem;
    left: 14%;
    color: #fff;
    font-size: 16px;
}
@media screen and (max-width: 375px) {
    .card-num {
        position: absolute;
        top: 14.5rem;
        left: 14%;
        color: #fff;
        font-size: 16px;
    }
    .card-name {
        position: absolute;
        top: 9rem;
        left: 50%;
        margin-left: -42px;
        color: #fff;
        width: 84px;
        text-align: center;
    }
}
@media screen and (max-width: 320px) {
    .card-num {
        position: absolute;
        top: 12rem;
        left: 14%;
        color: #fff;
        font-size: 16px;
    }
    .card-name {
        position: absolute;
        top: 8rem;
        left: 50%;
        margin-left: -42px;
        color: #fff;
        width: 84px;
        text-align: center;
    }
}
.anew {
    text-align: center;
}

.anew p {
    display: inline-block;
    margin-top: 4.6377rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #999999;
    padding: 0 2.5507rem;
}

.club-bottom {
    text-align: center;
    font-size: 1.1821rem;
    color: #999999;
}

/*.club span {
    display: inherit;
    text-align: center;
    color: #b5272d;
    font-size: 1.1821rem;
    margin-bottom: 4.6377rem;
}*/

.mail-change {
    padding:0 1.5459rem 0 1.5459rem;
    border-bottom: 2px solid #999999;
}

.password-change,
.order-finish {
    padding: 0 1.5459rem 0 1.5459rem
}

.mail-change h4,
.password-change h4 {
    font-size: 1.1821rem;
    color: #999999;
    margin: 0;
}

.mail-change .register-mail,
.password-change .register-mail {
    margin-top: 2.5507rem;
}

.mail-change .register-mail p,
.password-change .register-mail p {
    font-size: 1.1821rem;
    margin-bottom: 0;
}


.mail-change a,
.password-change a {
    display: inherit;
    background-color: #999999;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 2.6rem;
    line-height: 2.7826rem;
    margin-bottom: 4.6377rem;
}

.register-mail i {
    position: absolute;
    left:-10px;
    top:1rem;
    color: #b5272d;
}

.my-account .contact h3 {
    font-size: 1.1821rem;
    border-bottom: solid #999999 2px;
    line-height: 1.5459rem;
}

.mr-2 {
    font-size: 1.1821rem;
}

.mr-2 .radiobox {
    text-indent: 3rem;
}

.i-radiobox {
    margin-right: 3.0918rem;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    border:1px solid #333;
    text-indent: 0;
    font-size:1.2rem;
}

.i-radiobox.iconfont{
    background: #fff;
}

.radiobox input:checked+.i-radiobox {
    background:#333;
}


.finish a {
    display: inherit;
    background-color: #999999;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 2.6rem;
    line-height: 2.7826rem;
    margin-bottom: 4.6377rem;
}

.order-finish>h3 {
    font-size: 1.4rem;
    text-align: center;
}

.order-finish .delivery h3{
    font-size: 1.4rem;
}

.order-finish .delivery .delivery-message span{
    font-size: 1.2rem;
}
.order-finish .delivery .delivery-message span {
    margin-bottom: 1.1821rem;
    display: inherit;
}

.order-finish .delivery .delivery-message {
    background-color: #cccccc;
    padding: 1.5459rem 1.5459rem 1.7778rem 3.0918rem;
}

.order-finish .delivery .delivery-message p {
    font-size: 1.1821rem;
    margin-bottom: 0;
}

.order-finish .delivery .delivery-message a,
.drugstore a {
    display: block;
    float: right;
    border-bottom: 1px solid #999999;
    font-size: 1.1821rem;
}

.drugstore {
    padding: 0 1.5459rem 0 3.0918rem;
    border: 2px solid #e6e6e6;
    border-top: none;
}

.drugstore {
    height: 61px;
}

.drugstore p {
    line-height: 4.7923rem;
    font-size: 1.2rem;
    display: block;
    float: left;
}

.drugstore a {
    margin-top: 2.7053rem;
}

.pay-options {
    background-color: #cccccc;
    font-size: 1.1821rem;
    text-align: center;
    line-height: 3.2rem;
}

.delivery ul {
    border-top: 2px solid #cccccc;
    border-left: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
}

.delivery ul li {
    font-size: 1.1821rem;
    line-height: 3.5rem;
    border-bottom: 2px solid #cccccc;
    padding-left: 2rem;
}

.delivery ul .active {
    background: #cccccc;
}

.delivery label {
    display: block;
    position: relative;
    padding-left: 2.7rem;
}

.delivery label input[type=radio] {
    position: absolute;
    opacity: 0;
}

.delivery ul {
    margin-bottom: 3.8647rem;
}

.delivery ul+p {
    line-height: 1.8rem;
    border-bottom: 2px solid #cccccc;
    text-align: center;
    margin-bottom: 5rem;
}
.new-pay-way ul li {
    font-size: 1.0821rem;
    line-height: 3.5rem;
    border: 2px solid #cccccc;

}
.new-pay-way ul li+li {
    border-top: none;
}
.new-pay-way ul .active {
    background: #cccccc;
}

.new-pay-way label {
    display: block;
    position: relative;
    padding-left: 2.7rem;
    margin-bottom: 0;
}

.new-pay-way label input[type=radio] {
    position: absolute;
    opacity: 0;
}

.new-pay-way ul {
    margin-bottom: 15px;
}

.new-pay-way ul + p {
    line-height: 1.8rem;
    border-bottom: 2px solid #cccccc;
    text-align: center;
    margin-bottom: 5rem;
}
.new-pay-way h3 {
    font-size: 1.0821rem;;
}
.new-pay-way .pay-btn {
    display: inherit;
    background-color: #666666;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    line-height: 2.7826rem;
    margin-bottom: 1.9rem;
}
.order-pay a {
    display: inherit;
    background-color: #666666;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 2.6rem;
    line-height: 2.7826rem;
    margin-bottom: 1.9rem;
}

.order-pay span {
    font-size: 1.1rem;
}

.order-pay {
    margin-bottom: 5rem;
}

.pay-way p,
.order-safe p {
    line-height: 1.8rem;
    border-bottom: 2px solid #cccccc;
    text-align: center;
}

.pay-way .way-img,
.order-safe .safe-img {
    padding: 0 1.5rem 0 1.5rem;
    text-align: center;
}

.pay-way,
.order-safe {
    margin-bottom: 2.5rem;
}

.unfinished h3 {
    font-size: 1.3913rem;
    text-align: center;
    margin-bottom: 0;
    color: #000000;
}

.unfinished h3+p {
    font-size: 0.9rem;
    text-align: center;
    color: #999999;
}

.unfinished {
    padding: 0 1.5459rem 0 1.5459rem;
}

/*.order-details h4 {*/
    /*font-size: 1.1821rem;*/
    /*line-height: 1.8rem;*/
    /*border-bottom: 2px solid #cccccc;*/
    /*text-indent: 0.8502rem;*/
/*}*/
.order-details h4 {
    font-size: 1.4rem;
    line-height: 1.9rem;
    border-bottom: 2px solid #cccccc;
    text-indent: 0.8502rem;
}
.order-details h4 span {
    float: right;
}

.order-details h4+ul {
    border-bottom: 2px solid #cccccc;
    text-indent: 0.8502rem;
}

/*.order-details h4+ul li {*/
    /*font-size: 0.9rem;*/
    /*padding: 0.5rem 0;*/
/*}*/
.order-details h4+ul li {
    font-size: 1.2rem;
    padding: 0.5rem 0;
}
.order-details h4+ul li span {
    float: right;
}

.order-details ul+p {
    text-indent: 0.8502rem;
    margin-bottom: 1.8647rem;
}

.order-details ul+p span {
    float: right;
}

.order-details h4+p {
    font-size: 1.1821rem;
    text-indent: 0.8502rem;
}

.delivery-detail {
    margin-top: 3.8647rem;
    text-indent: 0.8502rem;
}

.delivery-detail h4 {
    font-size: 0.9rem;
    border-bottom: 2px #cccccc solid;
}

.delivery-detail p {
    font-size: 1.2rem;
}

.order-num h3 {
    font-size: 1.4rem;
    text-align: left;
    text-indent: 1.6rem;
    margin-top: 0;
}

.order-num h3+p {
    font-size: 1.1821rem;
    float: left;
}

.order-num h3+p span {
    margin-left: 2.7053rem;
}

.order-date p {
    font-size: 1.1821rem;
}

/*.information h4 {*/
    /*font-size: 1.1821rem;*/
    /*line-height: 1.8rem;*/
    /*border-bottom: 2px solid #cccccc;*/
    /*text-indent: 0.8502rem;*/
/*}*/
.information h4 {
    font-size: 1.4rem;
    line-height: 1.9rem;
    border-bottom: 2px solid #cccccc;
    text-indent: 0.8502rem;
}
.information h4 span {
    float: right;
}

/*.information p {*/
    /*font-size: 0.9rem;*/
    /*text-indent: 0.8502rem;*/
/*}*/
.information p {
    font-size: 1.4rem;
    text-indent: 0.8502rem;
}

.information span {
    font-size: 1.1821rem;
    margin-left: 0.8502rem;
}

.information .i-radiobox {
    margin-left: 3.8647rem;
}

.information .radiobox {
    display: inline;
}

.information .clearfix p {
    display: inline;
}

.information .clearfix p span {
    float: right;
}

.information .clearfix {
    border-bottom: 2px solid #cccccc;
}

.information {
    margin-bottom: 3.8647rem;
}

.unfinished .privacy {
    text-indent: 0.6rem;
}

.explain {
    margin-top: 2rem;
    text-align: center;
    background-color: #cccccc;
}

.explain a {
    font-size: 1.4rem;
}

.choose-store a {
    display: inline-block;
    width: 18.5507rem;
    color: #fff;
    background-color: #333333;
    line-height: 2.6rem;
    text-align: center;
}

.choose-store {
    padding-top: 2rem;
    margin-bottom: 1.9rem;
}

.explain ul>li {
    border-bottom: 1px solid #d9d9d9;
    margin: 0 .7rem;
    text-align: left;
}

.explain ul>li>a {
    display: block;
    padding: 1rem 1.7rem .6rem;
}

.explain ul>li>a>span {
    float: right;
}

.no-message {
    text-align: center;
}

.no-message p {
    display: inline-block;
    border-bottom: 2px solid #cccccc;
    padding: 0 1.5459rem;
}

.verify-message .privacy {
    text-indent: .6rem;
    margin-bottom: .5rem;
}

.return-time {
    font-size: 1.1821rem;
    padding: 0 2.5rem;
}

.sales-return-message {
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    margin-top: .5rem;
    margin-bottom: 3rem;
}

.sales-return-message p {
    padding-left: 3rem;
    font-size: 1.1821rem;
    margin-bottom: 0;
    line-height: 2.5rem;
}

.sales-return-message p img {
    margin-right: 1rem;
}

.sales-return-message p span {
    float: right;
}

.return-way h3 {
    font-size: 1.3913rem;
    display: inline;
}

.return-way p {
    font-size: .9rem;
    float: right;
    margin-top: 1rem;
}

.return-way+p {
    font-size: .9rem;
}

.return-way+p+p {
    font-size: .9rem;
    margin-bottom: 3rem;
}

.return-btn {
    display: inherit;

    text-align: center;
    color: #fff;

    line-height: 2.7826rem;
    margin-bottom: 1.9rem;
    margin-top: 3rem;
}

.return-commodity p {
    font-size: .9rem;
    margin-bottom: 0;
}

.return-commodity span {
    font-size: .7rem;
}

.return-commodity .radiobox {
    text-indent: 0;
}

.return-commodity .radiobox .i-radiobox {
    margin-right: 0;
}

.return-commodity>div {
    float: left;
}

.return-commodity>div+div p {
    font-size: .9rem;
    margin-bottom: 0;
}

.return-commodity>div+div span {
    font-size: .7rem;
}

.return-commodity {
    position: relative;
}

.return-commodity>div+div {
    position: absolute;
    top: 38%;
    left: 30%;
}

.return-commodity>div+div p span {
    margin-left: 6rem;
}

.return-list h4 {
    font-size: 1.3913rem;
}

.return-list ul li .i-radiobox {
    margin-right: .2rem;
}

.return-list ul li:first-child {
    font-size: 1.1rem;
    text-indent: 3rem;
    position: relative;
}

.return-list ul li:first-child:after {
    content: '';
    position: absolute;
    width: 6rem;
    height: 1px;
    background-color: #cccccc;
    display: block;
    bottom: 0;
    left: 3rem;
}

.return-list ul {
    float: left;
    width: 50%;
}

.return-list {
    border-bottom: 2px solid #cccccc;
}

.returnWay {

    border-bottom: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
}

.returnWay h4 {
    text-indent: .6rem;
    font-size: 1.1821rem;

    border-bottom: 1px solid #cccccc;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.returnWay p {
    font-size: 1.1821rem;
    text-indent: .6rem;
}

.returnWay span {
    margin-left: .3rem;
}

.invoice-info {
    margin-left: 2.7rem;
    font-size: 1.1821rem;
    margin-top: 2.7053rem;
    border-bottom: 2px solid #cccccc;
}

.invoice-info input {
    display: inline;
    border: 0;
    outline: 0;
    box-shadow: none;
}

.select_control {
    display: block;
    width: 100%;
    border: 0;
    background: none;
    padding: 10px 15px;
    border-bottom: 2px solid #ccc;
}

.select_control+.select_control {
    margin-top: 10px;
}

.store,
.stores-introduce {
    display: none;
}

.site-notice {
    position: relative;
    padding: 0.9rem 4rem 0.9rem 1.5rem;
    font-size: 0.8rem;
    color: #fff;
    background-color: #4d4d4d;
    letter-spacing: 0.12rem;
}

.site-notice a.iconfont {
    position: absolute;
    color: #fff;
    right: 0.8rem;
    line-height: 1;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
}
.szy-pay-way
@media screen and (max-width: 320px) {
    .verify-main .img-message {
        float: left;
        margin-left: -0.5rem;
    }
}
/**选择国家**/
/**选择国家**/
.country-select {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #000;
    /*background: rgba(0,0,0,0.2);*/
    position: absolute;
    z-index: 100000;
}
/*.country-select {*/
/*width: 100%;*/
/*height: 100%;*/
/*overflow-y: auto;*/
/*!*background: #000;*!*/
/**/
/*position: absolute;*/
/*top:0;*/
/*left: 0;*/
/*bottom: 0;*/
/*right: 0;*/
/*z-index: 100000;*/
/*}*/
.country-select .country-title {
    width: 100%;
    text-align: center;
    color: #fff;
    background: #777777;
    margin-bottom: 0;
    padding-top: 40px;
    letter-spacing: 6px;
    position: fixed;
    top: 0;
}
.country-select .country-con {
    width: 100%;
    text-align: center;
    color: #fff;
    background: #111111;
    margin-bottom: 0;
}
.country-select .country-con li a {
    color: #ccc;
    display: block;
    line-height: 40px;
    letter-spacing: 5px;
}
.country-select .country-con li.active a {
    background: #333333;
}
.ios-select-body-class .close {
    display: none;
}
.ios-select-widget-box header.iosselect-header {
    height: 44px;
    line-height: 44px;
    width: 100%;
    z-index: 9999;
    text-align: left;
    padding-left: 15px;
    color: #fff;
    background: #777777;
}
.ios-select-widget-box #iosSelectTitle {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}
.ios-select-widget-box ul {
    background-color: #000;
}
.ios-select-widget-box ul li {
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    background-color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #fff;
    opacity: 1;
}
.ios-select-widget-box.olay > div {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: #f2f2f2;
    top: 50%;
    margin-top: -147px;
    left: 0;
    visibility: visible;
}
.ios-select-widget-box header.iosselect-header a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.chicun {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #fff;
}
.ios-select-widget-box header.iosselect-header a.sure {
    color: #fff;
}